nav {
    width: 300px;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;

    .nav-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        .navigation-toolbar {
            margin-top: 16px;
            padding: 0px 12px;
        }
    
        .ms-Nav-navItems {
            padding-top: 8px;
        }
        .ms-Nav-link {
            padding: 0px 16px;
    
            .ms-Nav-linkText {
                margin: 0px 8px;
            }
        }
    }

    .application-footer {
        border-top: 1px solid #eaeaea;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .ms-Button {
            flex: 1 1 0px;
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 48px;
            padding: 12px 0px;
        }
    }
}
