@import "~office-ui-fabric-react/dist/sass/References";

main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

nav + * {
    height: 0;
}

nav {
    + * {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}

.todo-container {
    background-color: white;
    padding: 20px;

    .todo-toolbar {
        & .toolbar-title {
            align-items: center;
            h2 {
                margin: 0px;
                font-size: $ms-font-size-20;
                font-weight: 600;
            }

            .list-options {
                margin: 0px 8px;
            }
        }
    }
}

.toolbar-subtitle {
    & span {
        font-size: $ms-font-size-12;
    }
}

.ms-TextField {
    & .ms-TextField-wrapper {
        padding: 8px;
        border-color: #eaeaea;

        &::after {
            border-bottom: 1px solid $ms-color-blue;
        }

        & i {
            left: 8px;
        }

        & input {
            padding-left: 36px;
        }
    }
}